## Covid19 Cases per country ETL

Connect to db

In [1]:
from sqlalchemy import create_engine
source = create_engine('mysql+mysqlconnector://test:test123@192.168.99.100:3306/test')

Load csv into dataframe

In [2]:
import pandas as pd
df = pd.read_csv('covid19.csv')
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,46837,47072,47306,47516,47716,47851,48053,48116,48229,48527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,41302,42148,42988,43683,44436,45188,46061,46863,47742,48530
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,86730,87502,88252,88825,89416,90014,90579,91121,91638,92102
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6955,7005,7050,7084,7127,7162,7190,7236,7288,7338
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,15493,15536,15591,15648,15729,15804,15925,16061,16161,16188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1361,1365,1366,1367,1377,1381,1385,1391,1395,1397
267,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,94676,96098,98038,99758,101109,102992,104879,106622,108099,109738
268,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2267,2304,2337,2383,2078,2079,2081,2082,2083,2083
269,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17857,17898,17916,17931,17963,18062,18091,18161,18217,18274
270,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,10547,10617,10718,10839,10912,11007,11081,11162,11219,11246

Fill Province/State NaN values with Country/Region values

In [3]:
df['Province/State'].fillna(df['Country/Region'], inplace=True)
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20
0,Afghanistan,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,46837,47072,47306,47516,47716,47851,48053,48116,48229,48527
1,Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,...,41302,42148,42988,43683,44436,45188,46061,46863,47742,48530
2,Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,86730,87502,88252,88825,89416,90014,90579,91121,91638,92102
3,Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6955,7005,7050,7084,7127,7162,7190,7236,7288,7338
4,Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,15493,15536,15591,15648,15729,15804,15925,16061,16161,16188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Vietnam,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1361,1365,1366,1367,1377,1381,1385,1391,1395,1397
267,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,94676,96098,98038,99758,101109,102992,104879,106622,108099,109738
268,Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2267,2304,2337,2383,2078,2079,2081,2082,2083,2083
269,Zambia,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17857,17898,17916,17931,17963,18062,18091,18161,18217,18274
270,Zimbabwe,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,10547,10617,10718,10839,10912,11007,11081,11162,11219,11246

Write dataframe to sql database (test), table (covid19_cases)

In [4]:

df.to_sql('covid19_cases', con=source, schema='test', if_exists='replace', index=False)

Check what's inside the table of the db

In [5]:
pd.read_sql_query('SELECT * FROM covid19_cases', con=source)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/4/20,12/5/20,12/6/20,12/7/20,12/8/20,12/9/20,12/10/20,12/11/20,12/12/20,12/13/20
0,Afghanistan,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,46837,47072,47306,47516,47716,47851,48053,48116,48229,48527
1,Albania,Albania,41.153300,20.168300,0,0,0,0,0,0,...,41302,42148,42988,43683,44436,45188,46061,46863,47742,48530
2,Algeria,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,86730,87502,88252,88825,89416,90014,90579,91121,91638,92102
3,Andorra,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,6955,7005,7050,7084,7127,7162,7190,7236,7288,7338
4,Angola,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,15493,15536,15591,15648,15729,15804,15925,16061,16161,16188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,Vietnam,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,1361,1365,1366,1367,1377,1381,1385,1391,1395,1397
267,West Bank and Gaza,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,94676,96098,98038,99758,101109,102992,104879,106622,108099,109738
268,Yemen,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2267,2304,2337,2383,2078,2079,2081,2082,2083,2083
269,Zambia,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,17857,17898,17916,17931,17963,18062,18091,18161,18217,18274
270,Zimbabwe,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,10547,10617,10718,10839,10912,11007,11081,11162,11219,11246

Write DDL's to covid19.sql file

In [6]:
create_table = pd.io.sql.get_schema(df.reset_index(), 'test.covid19_cases', con=source)
with open('../sql/covid19.sql', 'w+') as file:
    file.write(create_table)
    file.close()

In [7]:
def sql_insert():
    sql_texts = 'INSERT INTO test.covid19_cases (`'+ str('`, `'.join(df.columns))+ '`)\nVALUES '
    for index, row in df.iterrows():   
        if index == len(df) - 1:
            sql_texts += str(tuple(row.values)) + ';' 
        else:
            sql_texts += str(tuple(row.values)) + ',\n'
    return sql_texts

with open('../sql/covid19.sql', 'a+') as file:
    file.write(sql_insert())
    file.close()