In [12]:
from sqlalchemy import create_engine

source = create_engine('mysql+mysqlconnector://test:test123@localhost:3306/test')

In [13]:
import pandas as pd

# pd.read_sql('select current_date', con=source)

In [14]:
# valores nulos los convierte en float NaN
df = pd.read_csv('country_vaccinations.csv', dtype={'total_vaccinations': 'Int64', 
                                                'people_vaccinated': 'Int64', 
                                                'people_fully_vaccinated': 'Int64', 
                                                'daily_vaccinations': 'Int64', 
                                                'daily_vaccinations_per_million': 'Int64'
                                               })

df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Argentina,ARG,12/29/2020,700,<NA>,<NA>,NaN,<NA>,0.00,NaN,NaN,<NA>,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
1,Argentina,ARG,12/30/2020,<NA>,<NA>,<NA>,NaN,15656,NaN,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
2,Argentina,ARG,12/31/2020,32013,<NA>,<NA>,NaN,15656,0.07,NaN,NaN,346,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
3,Argentina,ARG,1/1/2021,<NA>,<NA>,<NA>,NaN,11070,NaN,NaN,NaN,245,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
4,Argentina,ARG,1/2/2021,<NA>,<NA>,<NA>,NaN,8776,NaN,NaN,NaN,194,Sputnik V,Ministry of Health,http://datos.salud.gob.ar/dataset/vacunas-cont...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1422,Wales,NaN,1/19/2021,176186,175816,370,13989.0,10672,5.59,5.58,0.01,3385,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1423,Wales,NaN,1/20/2021,190831,190435,396,14645.0,11105,6.05,6.04,0.01,3522,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1424,Wales,NaN,1/21/2021,212732,212317,415,21901.0,12318,6.75,6.73,0.01,3907,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1425,Wales,NaN,1/22/2021,241016,240547,469,28284.0,15148,7.64,7.63,0.01,4804,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...
1426,Wales,NaN,1/23/2021,265054,264538,516,24038.0,17371,8.41,8.39,0.02,5510,"Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/health...

In [7]:
df.iso_code.unique()
df.iso_code.value_counts()

CAN    41
CHN    37
ISR    37
USA    35
GBR    35
MEX    31
LTU    30
RUS    30
CHE    30
CHL    30
BHR    29
ITA    29
PRT    28
EST    28
CZE    28
DNK    28
ROU    28
MLT    27
ARG    27
LVA    27
GRC    27
OMN    27
DEU    27
POL    27
HUN    27
BEL    26
BGR    26
NOR    26
CRI    26
ISL    24
HRV    24
FIN    23
LUX    23
SWE    22
IRL    21
SVN    21
FRA    21
AUT    20
ARE    20
ESP    19
SVK    18
CYP    17
NLD    17
SRB    16
SYC    15
GIB    14
IDN    13
TUR    12
SGP    12
SAU    12
IND     9
BRA     9
PAN     5
IMN     2
ECU     2
KWT     1
Name: iso_code, dtype: int64

In [8]:
df.dtypes

country                                 object
iso_code                                object
date                                    object
total_vaccinations                       Int64
people_vaccinated                        Int64
people_fully_vaccinated                  Int64
daily_vaccinations_raw                 float64
daily_vaccinations                       Int64
total_vaccinations_per_hundred         float64
people_vaccinated_per_hundred          float64
people_fully_vaccinated_per_hundred    float64
daily_vaccinations_per_million           Int64
vaccines                                object
source_name                             object
source_website                          object
dtype: object

In [16]:
'''
    name, connection, schema, if_exists (fall, replace, append; lo recomendado es hacer un delete y luego una inserción),
    index, chunksize (por si la transacción es muy grande, enviar por chunks)
'''
# df.to_sql('vaccinations_per_country', con=source, schema='test', if_exists='append', index=False)

'\n    name, connection, schema, if_exists (fall, replace, append; lo recomendado es hacer un delete y luego una inserción),\n    index, chunksize (por si la transacción es muy grande, enviar por chunks)\n'

In [ ]:
file = open('file.txt', 'r')
file.readlines()
file.close()

with open('file.txt', 'r') as file:
    file.readlines()

In [18]:
# no es buena practica hacer un drop table
print(pd.io.sql.get_schema(df.reset_index(), 'tet.vaccinations_per_country', con=source))

CREATE TABLE `tet.vaccinations_per_country` (
	`index` BIGINT,
	country TEXT,
	iso_code TEXT,
	date TEXT,
	total_vaccinations BIGINT,
	people_vaccinated BIGINT,
	people_fully_vaccinated BIGINT,
	daily_vaccinations_raw FLOAT(53),
	daily_vaccinations BIGINT,
	total_vaccinations_per_hundred FLOAT(53),
	people_vaccinated_per_hundred FLOAT(53),
	people_fully_vaccinated_per_hundred FLOAT(53),
	daily_vaccinations_per_million BIGINT,
	vaccines TEXT,
	source_name TEXT,
	source_website TEXT
)

In [21]:
with source.begin() as transaction:
    transaction.execute('DELETE FROM test.vaccinations_per_country')
    df.to_sql('vaccinations_per_country', con=transaction, schema='test', if_exists='append', index=False)